<div class="bg">
<div class="body">
    <h1 class="center">DASHBOARD</h1>
    <div class="card col-md-8 border-dark mb-2 bg-card">
        <div class="card-header">
            <h3>Notes</h3>
        </div>
        <div class="card-body">
            <app-notes></app-notes>
        </div>
    </div>
</div>

<div class="body row">
    <div class="card col-md-5 border-dark bg-card">
        <div class="card-header">
            <h3>Photos</h3>
        </div>
        <div class="card-body">
            <app-photos></app-photos>
        </div>
    </div>
    <div class="card col-md-3 border-dark bg-card">
        <div class="card-header">
            <h3>Tags</h3>
        </div>
        <div class="card-body">
            <app-tags></app-tags>
        </div>
    </div>
</div>
</div>