<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="col">
            <label for="message">Message</label>
            <textarea cols="50" rows="2" id="message" formControlName="message" row="3"></textarea>
        </div>
        <div class="col">
            <label for="tag">Tag</label>
            <br>
            <select id="tag"class="form-control-sm col-sm-8" formControlName="tag">
                <option value="" default>none</option>
                <option *ngFor="let tag of tags" value="{{ tag.id }}">
                    {{ tag.name }}
                </option>
            </select> 
        </div>
        <div class="col">
            <p>Attach Photo</p>
            <input id="photo" type="checkbox" class="form-check-input-sm" formControlName="attachPhoto">
            <!-- <label for="photo" class="form-check-label">Attach Photo</label> -->
        </div>
        <div class="col">
            <p></p>
            <br>
            <button class="btn-sm" type="submit">Add note</button>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col" style="width:10px"></th>
                <th scope="col">Message</th>
                <th scope="col">Tag</th>
                <th scope="col" style="width:10px">Photo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let note of notes; index as ind">
                <td>{{ ind + 1 }}</td>
                <td>{{ note.message }}</td>
                <!-- <td>{{ note.tagId | tagTranslate }}</td> -->
                <td>{{ translateTag(note.tagId) }}</td>
                <td>
                    <div *ngIf="note.attachPhoto == 1">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>